<table>
  <tr>
    <th class="colwidth">Item name</th>
    <th class="colwidth">Price</th>
    <th class="colwidth">Quantity</th>
    <th class="colwidth">Image</th>
    <th class="colwidth">Description</th>
    <th class="colwidth">Sold Out</th>
    <th colspan="2">Functions</th>
  </tr>
  {{#each model.items as |item|}}
    {{item-row item=item updateItem="updateItem" deleteItem="deleteItem"}}
  {{/each}}
</table><br>
