<div class="background">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <ul class=nav-bar-style>
              <li>{{#link-to 'index'}}<img class="logo-sm" src="assets/images/logo.png"><div class="logo-sm"><div class="nav-tile">OPEN MARKET</div></div>{{/link-to}}</li>
              <li><div class="nav-tile" id="nav-tile-about">ABOUT</div></li>
              <li><div class="nav-tile">CONTACT US</div></li>
        </ul>
        <!-- /.navbar-collapse -->
    <!-- /.container-fluid -->
</div>
{{outlet}}
