<div class="background">
<div class="animated infinite.two lightSpeedIn logo-lg">
  <img src="assets/images/logo.png">
  <h1>Open Market </h1>
    <h3>Who are you?</h3>
    {{#link-to "buyerUI"}}<button class="btn-warning btn-lg">BUYER</button>{{/link-to}}
    {{#link-to "sellerUI"}}<button class="btn-success btn-lg">SELLER</button>{{/link-to}}
</div>


</div>
