<h1>Online Market Place </h1>

<h2>Who are you?</h2>

{{#link-to "buyerUI"}}<button class="btn-lg">BUYER</button>{{/link-to}}
{{#link-to "sellerUI"}}<button class="btn-lg">SELLER</button>{{/link-to}}
