<h1>Seller</h1>

<h3>Gordon's Goods</h3>
<h4>Items</h4>
<table>
  <tr>
    <th>Item name</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>
  <tr>
    <th>Cup</th>
    <th>10</th>
    <th>2</th>
    <th>image hardcode</th>
  </tr>
  <tr>
    <th>Bowl</th>
    <th>20</th>
    <th>5</th>
  </tr>
</table><br>

{{#each model.items as |item|}}
  {{item.product}}
{{/each}}

<button>Add New Item</button>
{{new-item addNewItem='addNewItem'}}
