<h1>Seller</h1>

<h3>Gordon's Goods</h3>
<h4>Items</h4>
<table>
  <tr>
    <th>Item name</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>
  <tr>
    <th>Cup</th>
    <th>10</th>
    <th>2</th>
  </tr>
  <tr>
    <th>Bowl</th>
    <th>20</th>
    <th>5</th>
  </tr>
</table>
<button>Add New Item</button>


<h3>Ian's Inventory Store </h3>
<h4>Items</h4>
<ol>
  <li>Headphones</li>
  <li>Jumper</li>
</ol>
<button>Add New Item</button>
